<div class='container mt-3 app-centered-sm text-center'>
  <h1>Fout: 404 NIET GEVONDEN</h1>
  <p>
    De pagina die u zocht is mogelijk verwijderd, hernoemd of tijdelijk niet
    beschikbaar.
  </p>
  <a href='/' class='btn btn-outline-secondary'>Ga terug naar de homepagina</a>
</div>