<footer class='bg-body-secondary text-jomi-green p-3 text-center'>
  <div class='container'>
    &copy; <span id="year"></span> Jomi VZW
  </div>
  <script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
  </script>
</footer>