<div class="row g-3 text-center mw-24 mx-auto d-flex justify-content-center">
  <select name="maatwerker" id="maatwerker" class="form-select">
    <option value="">Kies een maatwerker</option>
    {{#each maatwerkers}}
      <option value="{{id}}">{{firstname}} {{lastname}}</option>
    {{/each}}
  </select>
</div>